body {
    margin: 0;
    background-color: black;
    overflow: hidden; 
  }

.canvas-container {
    position: relative;
    width: 800px;
    height: 600px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

#GameCanvas {
    z-index: 1;
}

#CharacterCanvas {
    z-index: 2;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 25vh;
    background-color: #000000; */

    width: 800px; 
    height: 600px; 
    background-image: url('../assets/spr_menubg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    color: white;
}

.main-menu h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.main-menu button {
   

    
    width: 281px; 
    height: 64px; 
    background-image: url('../assets/spr_btn_ng1.png'); 
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: 10rem;
    
}

.main-menu button:hover {
    background-image: url('../assets/spr_btn_ng2.png'); 
}

.player-stats {
   
    position: absolute;
    top: 0px;
    right: 10px;
    width: 190px; /* Adjust width as needed */
    height: 600px; /* Adjust height as needed */
    background-image: url('../assets/spr_ui_bg.png'); /* Add the background image */
    background-size: cover; /* Ensure the image covers the container */
    
    background-repeat: no-repeat; /* Prevent tiling */
    color: white;
    
    z-index: 10;
    font-family: 'Monospace', 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 0.2;
    
  }

.stats-content {
  margin-left: 10px;
}

  
.game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.1rem;
}

.game-log {
  z-index: 10;
  width: 790px; /* 600 canvas + 190 UI */
  height: 120px;
  overflow-y: auto;
  background-color: black;
  color: white;
  font-family: 'Monospace', 'Courier New', Courier, monospace;
  font-size: 18px;
  border: 1px solid #4b5563;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.game-log div {
  text-indent: 1rem;
}
